.icon{
  color: #ff06065e;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .2s ease;
}


.active{
  color: #db0101;
  font-size: 1.8rem;
  cursor: pointer;
}


.icon:hover{
  font-size: 1.8rem;
}