.containerService{
  margin-bottom: 20px;
}

.subcontainer {
  text-align: center;
  margin-bottom: 12px;
}

.titleContainer {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
}

.blue {
  color: var(--color-blue);
  float: left;
  font-size: 48px;
  margin-right: 10px;
}
.descGallery {
  font-weight: lighter;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.red {
  color: #d31b1b;
  float: left;
  font-size: 48px;
  margin-right: 10px;
}


.containerCards {
  width: 270px;
  height: 200px;
  margin: 20px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 2px 2px 0px 0px #00000026;
}
.title {
  color: #001d32;
  text-align: start;

  margin-left: 35px;
  margin-bottom: 30px;
}
.paraf {
  width: 17em;
  text-align: center;
}
.img {
  margin: 4px;
}
.imageContainer {
  border-radius: 18px 20px 20px 20px;
  height: 32px;
  margin: 20px;
  width: 32px;
  background-color: #b71c1c;
}
.bodyService{
  display: flex;
  justify-content: center;
}