:root {
  --color-red: #B71C1C;
  --bg-dark: #071923;
  --color-blue: #18445C;
  --letter-blue: #001D32;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
