.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

.containerOne {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 470px;
    margin: 5px;
}

.image {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: white;
}

.containerRating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.inputRadio {
    display: none;
  }
  
.star{
    cursor: pointer;
    transition: color 200ms;
    margin: 3px;
}


.containerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 470px;
    height: 60px;
    margin: 5px;
    background-color: white;
}

.inputText {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 15px;
  border: 0;
  width: 400px;
  margin-right: 10px;
  background-color: white;
}

.inputSubmit {
    border: 0;
    font-size: 15px;
    padding: 4px;
    background-color:beige;
}