.Card {
    width: 320px;
    height: 400px;
}


.Text{
    color: #333333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.Link {
    text-decoration: none;
}