.containerLoader {
    display: flex;
    justify-content: center;
  }
  .p{
    font-size: 9rem;
  }

  .containerDetail {
    /* margin-top: 60px; */
    font-family: "Roboto", sans-serif;
    /* width: 70vw; */
  
    margin: 0 auto;
    /* margin-top: 40px; */
    /* box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15), 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px; */
  }
  .createHotel {
    width: 154px;
    height: 48px;
    background-color: var(--color-blue);
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.9rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px #00000040;
    animation: pulse 1s infinite;
    transition: all 0.3s ease-out;
    margin: 3px;
  }
  .containerButton {
    padding-top: 40px;
    text-align: center;
  }
  /* .containerCard {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
  } */
  
  .containerImgTitle {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    background-color: #fff;
    padding-bottom: 28px;
  }
  
  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding-bottom: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
  }
  
  .imgGallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .containerImg:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 3;
  }
  .containerImg:nth-child(2) {
    grid-row-start: span 2;
  }
  
  .containerNameLocation {
    padding-left: 12px;
  }
  
  .buttonVer{
    position: absolute;
    bottom: 430px;
    right: 30px;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 8px 16px;
    color: #666;
    font-size: 1.6rem;
    box-shadow: 0 4px 10px #00000026;
    font-family: 'Raleway', sans-serif;
  }
  
  .nameHotel {
    text-align: start;
    font-size: 3.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #444;
  }
  
  .location {
    font-weight: 500;
    color: #858585;
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  .containerRatingFlex {
    display: flex;
    align-items: center;
  }
  .containerRating {
    background-color: #03a691;
    width: 60px;
    height: 48px;
    border-radius: 8px;
  }
  .flexRating {
    display: flex;
    justify-content: center;
    /* margin: auto 0; */
    padding-top: 10px;
  }
  
  .rating {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    color: #fff;
  }
  .divTextRating {
    margin-left: 12px;
  }
  
  .textRecomm {
    font-size: 2rem;
    font-weight: 500;
    color: #444;
    margin: 0;
    padding-bottom: 2px;
  }
  .puntGral {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444;
    margin: 0;
    padding-bottom: 2px;
  }
  .linkCommentarios {
    text-decoration: none;
    font-size: 1.4rem;
    color: blue;
  }
  
  .contianerInfoHotel {
    margin-top: 16px;
  }
  .containerSectionUno {
    font-family: 'Raleway', sans-serif;
    width: 68vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    text-align: center;
  }
  .containerAloj {
    width: 70%;
    background-color: #fff;
    border-radius: 8px;
  }
  .titleOff {
    font-size: 2.8rem;
    padding-top: 12px;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 20px;
    color: var(--color-blue);
  }
  .ulOff{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    list-style-type: none;
  }
  .off{
    font-weight: 500;
    color: #5e5e5e;
    font-size: 1.6rem;
    /* padding-bottom: 18px; */
    /* padding-top: 8px; */
    font-family: 'Roboto', sans-serif;
  }
  
  .containerMap {
    width: 28%;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .containerDescription {
    width: 68vw;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .hr{
    width: 90%;
    margin: 0 auto;
  }
  
  .titleDescription {
    font-size: 3rem;
    padding-top: 12px;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 20px;
    color: var(--color-blue);
    font-family: 'Raleway', sans-serif;
  }
  .description {
    font-weight: 500;
    color: #5e5e5e;
    font-size: 1.6rem;
    padding-bottom: 18px;
    padding-top: 8px;
    text-align: start;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    width: 98%;
    height: 240px;
    resize: none;
    /* font-weight: 500; */
  }
  
  .containerContact{
    text-align: start;
    padding-left: 20px;
    display: flex;
    padding-bottom: 8px;
  
  }
  
  .containerContact h2{
  color: var(--color-blue);
  }
  .contact{
    font-weight: 500;
    color: #5e5e5e;
    font-size: 1.6rem;
    text-align: start;
    padding-left: 6px;
    font-family:'Roboto', sans-serif;
  }
  
  .ulLanguages{
    display: flex;
    list-style-type: none;
    padding-left: 8px;
  }
  .liLanguages{
    font-weight: 500;
    color: #5e5e5e;
    font-size: 1.6rem;
    padding-bottom: 18px;
    font-family: 'Roboto', sans-serif;
    padding-right: 16px;
  }
  
  .roomsTitle {
    font-size: 4rem;
    padding-top: 12px;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 20px;
    color: var(--color-blue);
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .textRooms {
    color: var(--color-red);
  }
  
  .containerLoader {
    display: flex;
    justify-content: center;
  }
  
  .stars {
    color: #fa8e04;
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 4px;
    padding-bottom: 6px;
  }
  .spacingStars {
    padding-left: 10px;
  }

  .off{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
  }
  .buttonEliminar{
    height: 20px;
    width: 24px;
  }
  .inputRooms{
    width: 40px;
  }
  
  @media screen and (max-width: 1220px) {
    .containerImgTitle {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  @media screen and (max-width: 768px) {
    .containerImgTitle {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  