.titleContainer {
    font-family: "Raleway";
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}

.blue{
    color: var(--color-blue);
    float: left;
    font-size: 48px;
    margin-right: 10px;
}

.red{
    color: #d31b1b;
    float: left;
    font-size: 48px;
    margin-right: 10px;
    font-weight: 700;
}

.containerLoader {
    display: flex;
    justify-content: center;
  }
