.titleContainer {
    font-family: "Raleway";
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}

.blue{
    color: var(--color-blue);
    float: left;
    font-size: 48px;
    margin-right: 10px;
}

.red{
    color: #d31b1b;
    float: left;
    font-size: 48px;
    margin-right: 10px;
    font-weight: 700;
}

.container{
    background-color: white;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
}

.container p{
    margin: 0px;
}

.title{
    font-weight: 700;
    margin-bottom: 3%;
}

.link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    margin-left: 63%;
    margin-top: 3%;
}

.clearfix{
    clear:both
}

.checkinContainer div{
    float: left;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.checkinContainer div h2{
    margin: 0px;
}

.price{
    margin-top: 5%;
    float: left;
    margin-right: 50%;
}

.text-danger{
    color: var(--color-red) !important;
}

.createHotel {
    width: 154px;
    height: 48px;
    background-color: var(--color-blue);
  
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px #00000040;
    animation: pulse 1s infinite;
    transition: all 0.3s ease-out;
    margin: 3px;
    margin-top: 5%;
  }