.container{
  overflow-y: scroll;
  max-height: 80vh;
}
  
  .h1 {
    font-size: 3.8rem;
    text-align: start;
    color: var(--color-red);
  }
/*   
  .table {
    width: 100%;
    text-align: center;
  } */
  
  /* .trHead th {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    font-size: 1.8rem;
    color: var(--color-blue);
  }
  
  .trBody th {
    font-size: 1.6rem;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  } */
  
  .buttonEnab {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }
  .imgEnaDis {
    width: 20px;
    height: 20px;
  }
  
  .id {
    font-weight: 500 !important;
  }
  .formHotels {
    padding-top: 20px;
    text-align: center;
  }
  
  .formHotels input{
      width: 240px;
      height: 36px;
      border-radius: 8px;
      border: 1px solid var(--color-blue);
      padding-left: 8px;
      font-size: 1.6rem;
      color: var(--color-blue);
  
  }
  
  .formHotels button{
      margin-left: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 1.8rem;
      border: none;
      background-color: var(--color-blue);
      color: #fff;
      border-radius: 8px;
  }