.navBar{
    background-color: var(--color-blue);
    height: 60px;
}

.buttonNavBar {
    margin-left: 20px;
    background-color: transparent;
    border: none;
}

.navBarIcon{
    background-image: url("../../assets/icons/menu.png");
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;
}

.offCanvas{
    background-color: var(--color-blue);
}


.offCanvasTitle{
    color: #fff;
    font-size: 3rem;
}
.btnClose{
    background-image: url("../../assets/icons/close2.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
    background-size: cover;
    width: 8 px;
    height: 8px;
}
.btnClose:hover{
    opacity: .5;
}
.offCanvasBody{
    padding: 0;
    margin: 0;
}
.navItem{
    /* margin-bottom: 16px; */
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 30px;
    border-bottom: 1px solid #aaaaaa42;
    display: flex;
    align-items: center;
}
.img{
    width: 20px;
    height: 20px;
}

.navLink{
    font-size: 1.6rem;
    color: #fff !important;
    padding-left: 4px;
}

.containerInfo{
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.pages{
    list-style: none;
}

.lbl {
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .lbl::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 0.2s;
  }
  
  .switch {
    display: none;
  }
  
  .switch:checked + .lbl::after {
    left: 35px;
  }
  
  .switch:checked + .lbl {
    background: var(--letter-blue);
  }
  