.FirstTitle {
  font-size: 18.7px;
}
.param {
  font-size: 16px;
}
.list {
  font-size: 16px;
}
.firstflexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bodyFooter {
  margin-top: 120px;
}


.FirstTitle {
  color: #fff;
  text-align: start;
  margin: 1.3em;
  margin-left: 1em;
  margin-top: -0.89em;
  margin-bottom: 2em;
}
.titles {
  color: #fff;
}

.list {
  list-style: none;
  width: 12em;
  color: #fff;
  margin: 1em;
  margin-left: 0.8em;
}
.param {
  color: #fff;
  width: 15em;
  margin-top: -2.5em;
  margin-left: -0.4em;
}

::placeholder {
  color: #fff;
  text-align: center;
}
.Firsticon {
  margin: 0.5em;
  margin-bottom: -0.4em;
  margin-left: -2.2em;
}
.iconContainer {
  margin-left: -1em;
}

.flex {
  display: flex;
}

.icons {
  object-fit: contain;
  margin-left: 1.3em;
}
.titleList {
  color: #fff;
  margin-left: 0.8em;
}