.navBar {
  padding: 0;
  margin-bottom: 80px;
}

.containerFluid {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--color-blue);
  justify-content: space-between !important;
  position: fixed;
  top: 0.1px;
  z-index: 9;
}
.navBarCollapse {
  flex-grow: inherit;
}
.navBarNav {
  text-align: center;
}

.containerNavbar {
  position: absolute;
  width: 98vw;
  top: 40px;
}

.containerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ulNav {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.pages {
  margin: 0px 40px;
}

.linkLanding {
  text-decoration: none;
  color: #c2c7ce;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: "Roboto", sans-serif;
}

.ulNavRedes {
  display: flex;
  list-style-type: none;
}

.ulNavRedes li {
  padding: 0px 12px;
}
.ulNavRedes li img {
  width: 22px;
  height: 22px;
}
.ulNavRedes li button {
  border-radius: 18px 20px 20px 20px;
  height: 32px;
  width: 32px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkLanding:hover {
  color: #fff;
}

.pages:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  animation-timing-function: ease;
}

@media screen and (max-width: 991px) {
  .pages{
    padding-bottom: 20px;
  }
}
