.containerG{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.containerHotel{
    margin: 0 auto;
    margin-bottom: 80px;
}

.Count{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}