.Card {
  width: 320px;
  border: none;
  box-shadow: 2px 2px 2px 4px #8897b93d;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.Card:hover {
  transform: translateY(-10px);
}
p {
  color: #000;
}
.img {
  height: 200px;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
}

.Text {
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: flex;
}
.spec {
  margin-left: 12px;
}

.childAdultsContainer {
  display: flex;
  text-align: center;
}
.titleRoom {
  color: var(--letter-blue);
}

.paddingMax {
  padding-left: 4px;
  padding-top: 4px;
}

.iconAdults {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/adult.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 25px;
  background-size: contain;
}
.iconChildren {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icons/children.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
}

.priceContainer {
  padding: 4px 5px;
  background-color: var(--letter-blue);
  color: #fff;
  border-radius: 3px;
}
.param {
  text-align: start;
  margin: 0;
}
.Data {
  min-height: 54px;
  max-height: 54px;
  margin: 0 0 1em 0;
  overflow: hidden;
}
